.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slide-title {
    position: absolute;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    font-size: clamp(3rem, 5vw + 1rem, 5rem);
    background: rgba(227, 218, 218, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(227, 218, 218, 0.26);
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media (max-width: 600px) {
    .slide-title {
        top: 10%;
        letter-spacing: 0.5rem;
    }
}